@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@400;700&display=swap');

body {
    font-family: 'Indie Flower', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #d38e26;
}
header{
    display: inline;
}
.jumbotron {
    font-size: 20px;
    padding: 2px;
    background-color: rgb(155, 247, 127);
    text-align: center;
    color: rgb(44, 133, 22);
}

nav {
    background-color: rgb(88, 157, 248);
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: lightblue;
}

nav a:hover {
    font-weight: bolder;
}

nav li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}

footer {
    padding: 10px;
    color: rgb(70, 134, 155);
    background-color: lightsalmon;
    text-align: center;
    font-weight: bolder;
}

main {
    padding: 20px;
    overflow: auto;
}

#content{
    float: left;
    width: 75%;
}

.imaged{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

*{
    box-sizing: border-box;
}

@media screen and (max-width: 1000px){
    #content, aside {
        width: 100%;
        padding: 0;
    }
}